body{
  font-family: 'Open Sans';
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat (3, 1fr);
  grid-template-areas: 
  "aside main main"
  "aside section section";
  grid-template-rows: repeat (3, 1fr);
}

aside {
  background-color: #1F1F3D;
  grid-area: aside;
  display: flex;
  }

main {
  background-color: #A9AAD2;
  grid-area: main;
}

section {
  background-color: #EAEAF4;
  grid-area: section;
}

h1 {
  color: white;
  font-size: 20px;
  font-weight: bold; 
}

h4 {
  color: white;
  font-size: 12px;
  font-weight: lighter;
}


