body{
  background-color: #EAEAF4;
  font-family: 'Open Sans';
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: 
  "aside main main"
  "aside section section";
  grid-template-columns: 20% 80%;
}

aside {
  background-color: #1F1F3D;
  display: flex;
  grid-area: aside;
}

nav {
    width: 100%;
}

h1 {
  border-bottom: 1px solid #5356A4 ;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 20px;
}

h5 {
  color: #BFBFDD;
  border-top: 1px solid #5356A4 ;
  font-size: 16px;
  font-weight: 400;
}

h3 {
  color: #BFBFDD;
  font-size: 16px;
  font-weight: 400;
  margin-bottom:10px;
  margin-left: 20px;
}

.starred-button {
  background-color: #5356A4;
  border-color: #353567;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  margin: 15px;
  width: 255px;
}

.hover-red:hover {
  background-color: #d1421a;
  border-left: 3px solid #f48e71;
  height: 35px;
}

li {
  font-size: 20px;
  font-weight: 200;
  margin-top: 15px ;
}

ul {
  color: white;
  list-style-type: none;
  padding: 5px;
}

label {
  color: #BFBFDD;
  margin-bottom: 5px;
  margin-left: 15px
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.quality-search-field {
  height: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 250px;
}

.quality-button {
  background-color: #5356A4;
  border-color: #353567;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  margin: 15px;
  width: 255px;
}

main {
  align-items: center;
  background-color: #A9AAD2;
  display: flex;
  flex-direction: column;
  grid-area: main;
  height: 45vh;
}

input {
  border-radius: 2px;
}

.input-field label {
  color: #1F1F3D;
  font-size: 80%;
}

p {
  color: #1F1F3D;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: auto;
  padding-bottom: 10px;
  padding-left: 10px;
}

#title-input {
  border: 1px solid #5356A4;
  height: 30px;
}

#body-input {
  border: 1px solid #5356A4;
  height: 80px;
}

.button {
  background-color: #3d3f7a;
  border: #5356A4;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 20px;
  width: 400px;
}

.disabled {
  background-color: #3d3f7a;
  border: #5356A4;
  cursor: not-allowed;
}

#search-input {
  border: 1px solid #5356A4;
  height: 40px;
  margin-top: 10px;
  width: 370px;
} 

#search-button {
  background-color: #3d3f7a ;
  border: #1F1F3D;
  border-radius: 2px;
  color: white;
  height: 43px;
  margin-top: 10px;
  width: 40px;
}

.search-btn-and-input {
  flex-direction: row;
}

section {
  background-color: #EAEAF4;
  grid-area: section;
  height: 55vh;
}

.idea-field {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 15px 15px;
  grid-template-rows: repeat(2, 1fr);
  padding: 30px;
}

article { 
  background-color: white;
  border: solid 1px #1F1F3D;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}

header {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
}

.star-active {
  background-image: url("images/star-active.svg");
}

.star-button {
  background-image: url("images/star.svg");
}

h2 {
  color: #1F1F3D;
  padding-left: 10px;
}

footer {
  align-items: end;
  background-color: #353567;
  color: #ffffff;
  display: flex;
  height: 20px;
  justify-content: space-between;
}
 
.icon-button {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1500px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "aside main main"
    "aside section section";
    grid-template-columns: 22% 78%;
    width: 100vw;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "aside main main"
    "aside section section";
    grid-template-columns: 25% 75%;
    width: 100vw;
  }

  .idea-field {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 15px 15px;
    grid-template-rows: repeat(2, 1fr);
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "aside main main"
    "aside section section";
    grid-template-columns: 30% 70%;
    width: 100vw;
  }

  .idea-field {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 15px 15px;
    grid-template-rows: repeat(2, 1fr);
    padding: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "aside aside aside"
    "main main main"
    "section section section";
    grid-template-rows: 10% 40% 50%;
    width: 100vw;
  }

  .idea-field {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px 15px;
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "aside aside aside"
    "main main main"
    "section section section";
    grid-template-rows: 10% 45% 45%;
  }

   h1 {
    text-align: center;
  }

  main {
    align-items: center;
    background-color: #A9AAD2;
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-content: center;
  }

  .idea-field {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px 15px;
    grid-template-rows: repeat(2, 1fr);
    padding: 30px;
  }
}
  